<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" target="SYSTEM_OUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <Level>INFO</Level>
        </filter>
        <encoder>
            <pattern>%green(%d{dd.MM.yyyy HH:mm:ss.SSS}) %yellow([%thread]) %highlight(%-5level)  %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/%d{yyyy-MM-dd}/slf4jlogback.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>2</maxHistory>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level  %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ru.skillbox.socnetwork.logging.LoggingAspect" level="DEBUG">
        <appender-ref ref="FILE" />
    </logger>
    <logger name="org.springframework.jdbc.core.JdbcTemplate" level="DEBUG">
        <appender-ref ref="FILE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>